extends layout

block content
    .container.mt-4
      div.row
         div.col-md-12.col-lg-12.col-sm-12.mt-5
            h1.text-center #{title}
      div.row
         div.col-md-8.col-lg-8.offset-md-2.offset-lg-2
            p.lead Adopt a pet is a concept company that aims to provide a service that will help animals that have been rescued to find new homes. This web application aims to make that process as smooth as possible.

            