extends layout

block content
    .container.mt-4
        div.row
            div.col-md-12.col-lg-12.col-sm-12.text-center.mt-5
                h1 #{title}
        
        div.row
            div.col-md-8.col-sm-8.col-lg-8.offset-md-2.offset-lg-2
                div.card
                    div.card-header
                        h4.text-center=pet.petName
                    div.card-body
                        img.img-thumbnail(src='/pet_pictures/'+pet.fileLocation)
                        h5.text-center Gender: #{pet.petGender}
                        p.lead.text-center=pet.petDescription
                        a.btn.btn-info.btn-block(href='/adoptions/'+pet._id) Apply to adopt
                //- Finish off the view_pet layout
                br