doctype html
html
  head
    title Adopt A Pet
    link(rel='stylesheet' href='/bootstrap/css/bootstrap.css')
    link(rel='stylesheet' href='/bootstrap/css/login.css')
  body
    .container
        block content

    script(src='/jquery/jquery-3.4.1.js')  
    script(src='/bootstrap/js/bootstrap.js')